{
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "alias": [
        ["@components", "./src/components"],
        ["@config", "./src/config"],
        ["@content", "./src/content"],
        ["@images", "./src/images"],
        ["@pages", "./src/pages"],
        ["@templates", "./src/templates"],
        ["@styles", "./src/styles"]
      ]
    }
  }
}
